<% if @can %>
    <% @projects = @issues.map(&:allowed_target_projects).reduce(:&) %>
    <li class="folder">
      <a href="#" class="submenu"><%= l(:field_project) %></a>
      <ul>
        <% @projects.each do |p| -%>
            <li><%= context_menu_link p.name, bulk_update_issues_path(:ids => @issue_ids, :issue => {:project_id => p}, :back_url => @back), :method => :post,
                                      :selected => (@issue && p == @issue.project), :disabled => !@can[:edit] %></li>
        <% end -%>
      </ul>
    </li>
<% end %>
